html, body 
{    
    width: 100px;
}
  
.hidden 
{
    display: none;
}

.button 
{
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
  
.poof_button:hover 
{
    background-color: #FF5733;
}
  
.poof_button
{
    background-color: #C70039;
}
  
.reset_button
{
    background-color: #74FF33;
}
  
.reset_button:hover 
{
    background-color: #DAF7A6;
}
